%h1 Chat

%p This is just a mock chat interface. 
%br/
%p Since there is no way that we can simulate user chatting. 
%br/

%a.button{:href => "javascript: close(); "} I am Interested
%a.button{:href => "javascript: close(); "} Not a Good Fit
